.customer-service {
  padding: 120px 0 150px;
  .service-header {
    height: 178px;
    background-image: url("../images/customer/ms_sub_ttl_bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    .inner {
      .subtitle {
        font-size: 30px;
        margin: 0;
        padding-top: 100px;
        color: white;
      }
      ul {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: -20px;
        right: 0;
        height: 16px;
        li {
          padding: 0 3px;
          a {
            padding: auto 0;
            text-align: center;
            color: white;
            font-size: 12px;
            &:hover {
              text-decoration: underline;
            }
          }
          img {
            height: 90%;
          }
        }
      }
    }
  }
}
