/* RESERVE STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  .inner {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .medal {
    width: 334px;
    height: 334px;
    perspective: 600px;
    .front,
    .back {
      position: absolute;
      width: 334px;
      height: 334px;
      backface-visibility: hidden;
      transition: 1s;
    }
    .front {
      transform: rotateY(0deg);
    }
    &:hover .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(-180deg);
      .btn {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    &:hover .back {
      transform: rotateY(0deg);
    }
  }
}
