/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
